h1{
    color: lightcoral;
}
li{
    color: tomato;
}
#fruits-title{
    color: black;
}
.important-places{
    color: blueviolet;
}

.red-bg{
    /* background-color: red !important; */
    text-align: center;
    /* list-style-type: style type none; */
    /* list-style: lower-alpha; */
}

.list-none{
    list-style: none;
}